.book {
  background: url('http://www.publicdomainpictures.net/pictures/70000/velka/old-parchment.jpg') !important;
  height: 68vh;
  width: 80vw;
  margin-top: 8rem;
  padding: 1rem;
  /*box-sizing: border-box;*/
}

.links {
	position: relative;
	top: 60vh;
}